body {
  background-color: #F0F1F4;
}

.container {
display:flex;
flex-direction: column;
text-align: center;

}

.banner {
  display:flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;

}


span {
  color:red;
}



form {
  margin: 0 auto;
  width: 451px;
  height: 491px;
  background-color: #FFFFFF;
  border-radius: 24px;
  opacity: 1;
  text-align: left;
  padding-left: 30px;
}


p {
  font-size: 24px;
  margin-bottom: 10px 0;

}

 label {
  display: block;
  font-size:20px;
  padding: 15px 0 2px 0;

}

input , select {
  width: 387px;
  height: 44px;
  border-radius: 12px;
  border: 2px #ECEDF2 solid;

}

.checkbox {
  display:flex;
  flex-direction: row;
  gap: 5px;
}

.checkbox input{
  width: 20px;
  margin-top: 3px;

  margin-bottom: 10px;
}

button {
  background-color: #F05F5D;
  color:#FFFFFF;
  height: 54px;
  width: 387px;
  border: none;
  font-size: 20px;
  border-radius: 12px;
}

.smaller-form {
  width: 300px;
  height: 100px;
  text-align: center;
}

.smaller-form span {
  color:#1C9D75;
}
